@model IEnumerable<CursoMVC4.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>
<table class="table">
    <tr>
        <th>Full Name</th>
        <th>Active</th>
        <th>Address</th>
        <th>Last Order Date</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.FirstName @item.LastName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            <address>
                <span>@item.Address.Line1</span>
                <span>
                    <strong>ZIP Code:</strong> @item.Address.ZipCode
                </span>
            </address>
        </td>
        <td>
            @item.Orders.OrderByDescending(o=>o.OrderDate).FirstOrDefault().OrderDate.ToShortDateString()
        </td>
    </tr>
}
</table>
